.row
  .col-md-12
    %h2 Create an Outreach
.row
  .col-md-6
    %h4= "Marking #{ @users.count } fosters as contacted."
    %p= users_to_printed_list(@users)
    %br

    %h4 Copy and paste these emails when creating a segment in Mailchimp
    %p= @users.map(&:email).join(', ')
    %br

    = form_tag(admin_outreaches_path, method: :post) do
      - @users.each do |user|
        = hidden_field_tag 'user_ids[]', user.id
      .form-group
        = label_tag 'Subject Line'
        = text_field_tag 'subject', nil, placeholder: 'Enter your subject here...', class: 'form-control', required: true
      .form-group
        = label_tag 'Rescue'
        = select_tag 'organization_id', options_for_select(Organization.pluck(:name, :id)), include_blank: true, class: 'form-control'
      = submit_tag 'Log It!', class: 'btn btn-primary'
