%h2
  Outreach made on
  = @outreach.created_at.stamp("May 20, 1989")
%h4="Subject: #{@outreach.subject}"
%h4
  ="Organization:"
  = @outreach.organization ? link_to(@outreach.organization.name, admin_path(@outreach.organization)) : 'Other'
%h4
  Recipients:
  - @outreach.users.each do |u|
    = succeed ',' do
      = link_to u.name, admin_user_path(u)
