.row
  .col-md-12
    = image_tag("fr-logo.jpg", class: "fr-logo")
.fr-form
  .row
    .col-md-12
      %p Please sign up to add yourself to our "Foster Roster" through Foster Dogs Incorporated; we will contact you if a great potential foster dog for you becomes available from our local participating rescue organizations.
      %p
        Learn
        %span= link_to 'more', 'https://www.fosterdogsnyc.com/foster-roster', target: :_blank
        about our Foster Roster.
      %p
        Fostering a dog is not always easy. There may be challenging moments when caring for a new dog, but remember that it should get easier in time, and that your foster dog needs you. When you commit to fostering for a certain duration of time, please keep your word (barring true emergencies). There may be chewed shoes, there may be accidents, and you might be woken up at odd hours sometimes. It's normal! When you receive our Foster Roster plea to foster a dog, we ask that you have an open mind and open heart! Fostering is not always easy, but it's pretty amazing.
      %p
        Questions? Visit
        = link_to 'our website', 'www.fosterdogsnyc.com', target: :_blank
        or email
        = mail_to 'roster@fosterdogsnyc.com', 'us'
      %p
        Download our free
        %span= link_to 'Foster Roster Manual', 'http://fosterdogsnyc.com/manual/', target: :_blank
  %br
