%h1 Fosters
%table.table.table-bordered.table-hover
  %thead
    %th Name
    %th E-mail
    %th Experience
    %th Schedule
    %th Size Preferences
    %th Activity Preferences
    %th Fostered Before?
    %th Fospice
    %th Other Pets
    %th Kids
    %th Address
  - @users.each do |user|
    %tr
      %td= link_to user.name, user_path(user)
      %td= mail_to user.email
      %td= list_to_link(:experience, user.experience_list)
      %td= list_to_link(:schedule, user.schedule_list)
      %td= list_to_link(:size_preference, user.size_preference_list)
      %td= list_to_link(:activity_preference, user.activity_preference_list)
      %td= user.fostered_before?
      %td= user.fospice?
      %td= user.other_pets?
      %td= user.kids?
      %td= user.address
= paginate @users
