= form_tag(users_path, method: :get, class: 'filter-form') do
  .row
    .col-md-12
      %h1.pull-left Fosters
      = submit_tag 'Filter', class: 'pull-right btn btn-primary'
  - if @active_filters.present?
    .row
      .col-md-12
        .active-filters
          %h5 Active Filters
          - @active_filters.each do |k, v|
            %strong= "#{k.capitalize}:"
            = v.join(', ')
  .row
    - @categories.keys.each do |key|
      .col-md-3= label_tag key
  .row
    = form_tag do
      - @categories.each do |k, v|
        .col-md-3= select_tag k, options_for_select(v), multiple: true, include_blank: true, class: "form-control filter-select"
%table.table.table-bordered.table-hover
  %thead
    %th Name
    %th E-mail
    %th Experience
    %th Schedule
    %th Size Preferences
    %th Activity Preferences
    %th Fostered Before?
    %th Fospice
    %th Other Pets
    %th Kids
    %th Address
  - @users.each do |user|
    %tr
      %td= link_to user.name, user_path(user)
      %td= mail_to user.email
      %td= list_to_link(:experience, user.experience_list)
      %td= list_to_link(:schedule, user.schedule_list)
      %td= list_to_link(:size_preferences, user.size_preference_list)
      %td= list_to_link(:activity_preferences, user.activity_preference_list)
      %td= user.fostered_before?
      %td= user.fospice?
      %td= user.other_pets?
      %td= user.kids?
      %td= user.address
= paginate @users
