.row
  .col-md-12
    = image_tag("fr-logo.jpg", class: "fr-logo")
.fr-form
  .row
    .col-md-12
      %p Please sign up to add yourself to our "Foster Roster" through Foster Dogs Incorporated; we will contact you if a great potential foster dog for you becomes available from our local participating rescue organizations.
      %p
        Learn
        %span= link_to 'more', 'https://www.fosterdogsnyc.com/foster-roster', target: :_blank
        about our Foster Roster.
      %p
        Fostering a dog is not always easy. There may be challenging moments when caring for a new dog, but remember that it should get easier in time, and that your foster dog needs you. When you commit to fostering for a certain duration of time, please keep your word (barring true emergencies). There may be chewed shoes, there may be accidents, and you might be woken up at odd hours sometimes. It's normal! When you receive our Foster Roster plea to foster a dog, we ask that you have an open mind and open heart! Fostering is not always easy, but it's pretty amazing.
      %p
        Questions? Visit
        = link_to 'our website', 'www.fosterdogsnyc.com', target: :_blank
        or email
        = mail_to 'roster@fosterdogsnyc.com', 'us'
      %p
        Download our free
        %span= link_to 'Foster Roster Manual', 'http://fosterdogsnyc.com/manual/', target: :_blank
  %br

  = form_for @user do |f|
    .row
      .col-md-12
        %h3 Basic Information
    .row
      .col-md-6
        .form-group
          = f.label :name, "Name"
          = f.text_field :name, class: 'form-control', required: true
    .row
      .col-md-6
        .form-group
          = f.label :email, "Email"
          = f.text_field :email, class: 'form-control', required: true
    .row
      .col-md-6
        .form-group
          = f.label :date_of_birth, "Date of Birth"
          %br
          = f.date_select :date_of_birth, { order: [:month, :day, :year], start_year: Date.current.year - 80, end_year: Date.current.year }, class: 'form-control date-select', required: true
    .row
      .col-md-6
        .form-group
          = f.label :address, "Home Address"
          = f.text_field :address, class: 'form-control', required: true
    %br

    .row
      .col-md-12
        %h3 Foster Preferences
    .row
      .col-md-6
        .form-group
          = f.label :fostered_before, "Have you fostered before?"
          = f.select :fostered_before, options_for_select([['yes', true], ['no', false]]), { include_blank: true }, { class: 'form-control', required: true }
    .row
      .col-md-6
        .form-group
          = f.label :fostered_for, "If so, which organizations have you previously fostered with?"
          - Organization.all.each do |organization|
            .form-check-label
              = f.check_box :fostered_for, { multiple: true, class: 'form-check-input' }, organization, nil
              = organization
    .row
      .col-md-6
        .form-group
          = f.label :fospice, "Are you interested in participating in our Fospice program?"
          %p
            If you are interested in being a "Forever Foster" caretaker for our "Fospice" program for dogs in their end-of-life months, check the box below. Learn more about the program
            %span= link_to 'here', 'http://fosterdogsnyc.com/fospice/', target: :_blank
          = f.select :fospice, options_for_select([['yes', true], ['no', false]]), { include_blank: true }, { class: 'form-control', required: true }
    .row
      .col-md-6
        .form-group
          = f.label :other_pets, "Do you own any other pets?"
          = f.select :other_pets, options_for_select([['yes', true], ['no', false]]), { include_blank: true }, { class: 'form-control', required: true }
    .row
      .col-md-6
        .form-group
          = f.label :kids, "Are you in a household with young children?"
          %p Some dogs should not live with young children due to size/training/personality
          = f.select :kids, options_for_select([['yes', true], ['no', false]]), { include_blank: true }, { class: 'form-control', required: true }
    .row
      .col-md-6
        .form-group
          = f.label :size_preferences, "What size dog are you open to fostering?"
          - User::SIZE_PREFERENCES.each do |preference, description|
            .form-check-label
              = f.check_box :size_preferences, { multiple: true, class: 'form-check-input' }, preference, nil
              = "#{preference} (#{description})"
    .row
      .col-md-6
        .form-group
          = f.label "What experience do you have with dogs?"
          - User::EXPERIENCE.each do |experience|
            .form-check-label
              = f.check_box :experience, { multiple: true, class: 'form-check-input' }, experience, nil
              = experience
    .row
      .col-md-6
        .form-group
          = f.label :schedule, "How often are you out of the house?"
          %p On average, how long would the dog be alone during the workweek? Note: If you are away for more than 8 hours a day you should consider hiring a dog walker or have someone check in on the dog. Some rescue organizations offer discounted dog walks.
          - User::SCHEDULE.each do |schedule|
            .form-check-label
              = f.check_box :schedule, { multiple: true, class: 'form-check-input' }, schedule, nil
              = schedule
    .row
      .col-md-6
        .form-group
          = f.label :activity_preferences, "How active do you prefer your foster to be?"
          - User::ACTIVITY_PREFERENCES.each do |activity|
            .form-check-label
              = f.check_box :activity_preferences, { multiple: true, class: 'form-check-input' }, activity, nil
              = activity
    .row
      .col-md-6
        .form-group
          = f.label :activity_preferences, "Are you interested in fostering big dogs?"
          = f.select :big_dogs, options_for_select([['yes', true], ['no', false]]), { include_blank: true }, { class: 'form-control', required: true }
    .row
      .col-md-6
        .form-group
          = f.label :fosters_cats, "Are you also interested in fostering cats?"
          = f.select :fosters_cats, options_for_select([['yes', true], ['no', false]]), { include_blank: true }, { class: 'form-control', required: true }
    %br

    .row
      .col-md-12
        .terms-and-conditions
          %h3 TERMS & CONDITIONS:
          %h5 PRIVACY:
          %p By applying to Foster Dogs Inc's "Foster Roster," your information will remain private (entered on our secure server). Foster Dogs will only share your information with the particular rescue affiliate upon your offer to foster. We will not otherwise share your application with third parties. All Foster Roster applications are property of Foster Dogs Inc and function as an internal resource.
          %h5 PARTICIPATION & REMOVAL:
          %p
            You will typically receive a maximum of one Foster Roster outreach weekly. Foster Dogs may remove you from our list after long-term inactivity. You may request to be removed from the Foster Roster at any time by emailing us with your request at
            %span= mail_to("roster@fosterdogsnyc.com") + "."
            By signing up for our Foster Roster, you are opting-in to our monthly newsletter. We promise not to spam you or share your information with an unaffiliated third party, and you can unsubscribe at any time from our newsletters.
          %h5 APPLICATION PROCESS & RESCUE LIABILITY:
          %p
            While we will keep track of the progress of any dog on our site, we do not handle the foster (or adoption) approval process, as that is the duty of the participating rescue organization. Information is provided to us by said organization. Once you begin communication with the third party (rescue group), Foster Dogs Inc is here for questions/comments/suggestions, but it becomes the responsibility of the rescue organization to continue the conversation and to review your application. Read more about our Foster Roster
            = link_to "here", "http://fosterdogsnyc.com/join-our-foster-roster/", target: :_blank
    %br

    .row
      .col-md-12
        .form-group
          = f.check_box :accepted_terms_at, { required: true }, 'true', 'false'
          I accept the terms and conditions above
    .row
      .col-md-12
        .form-group
          = f.submit 'SUBMIT', class: 'btn btn-primary'
