%h1= @user.name
%div
  %span.dog-info__label Created At
  %span.dog-info__info= @user.created_at.stamp("May 20, 1989")
%div
  %span.dog-info__label Email
  %span.dog-info__info= mail_to @user.email
%div
  %span.dog-info__label Experience
  %span.dog-info__info= @user.experience_list
%div
  %span.dog-info__label Schedule
  %span.dog-info__info= @user.schedule_list
%div
  %span.dog-info__label Size Preferences
  %span.dog-info__info= @user.size_preference_list
%div
  %span.dog-info__label Activity Preferences
  %span.dog-info__info= @user.activity_preference_list
%div
  %span.dog-info__label Fostered Before?
  %span.dog-info__info= @user.fostered_before?
%div
  %span.dog-info__label Fospice?
  %span.dog-info__info= @user.fospice?
%div
  %span.dog-info__label Has other pets?
  %span.dog-info__info= @user.other_pets?
%div
  %span.dog-info__label Has kids?
  %span.dog-info__info= @user.kids?
%div
  %span.dog-info__label Address
  %span.dog-info__info= @user.address
%div
  %span.dog-info__label Accepted Terms?
  %span.dog-info__info= @user.accepted_terms_at.present?
