// hack to allow both the "edit" and "new" functionality work using the same partials and passing null objects down through local vars
- user = user

.row
  .col-md-12
    %h3 Basic Information
.row
  .col-md-3
    .form-group
      = label_tag :first_name, "First Name"
      = text_field_tag :first_name, user.try(:first_name), { class: 'form-control', required: true }
  .col-md-3
    .form-group
      = label_tag :last_name, "Last Name"
      = text_field_tag :last_name, user.try(:last_name), { class: 'form-control', required: true }
.row
  .col-md-6
    .form-group
      = label_tag :email, "Email"
      = text_field_tag :email, user.try(:email), { class: 'form-control', required: true }
.row
  .col-md-6
    .form-group
      = label_tag :phone_number, "Phone Number"
      = text_field_tag :phone_number, user.try(:phone_number), { class: 'form-control', required: true }
.row
  .col-md-6
    .form-group
      = label_tag :date_of_birth, "Date of Birth"
      %br
      = date_field_tag :date_of_birth, user.try(:date_of_birth).try(:to_date), { class: 'form-control date-select', required: true }
.row
  .col-md-6
    .form-group
      = label_tag :address, "Home Address"
      = text_field_tag :address, user.try(:address), { class: 'form-control', required: true }
