.row
  .col-md-12
    %h3 Basic Information
.row
  .col-md-6
    .form-group
      = f.label :name, "Name"
      = f.text_field :name, class: 'form-control', required: true
.row
  .col-md-6
    .form-group
      = f.label :email, "Email"
      = f.text_field :email, class: 'form-control', required: true
.row
  .col-md-6
    .form-group
      = f.label :date_of_birth, "Date of Birth"
      %br
      = f.date_select :date_of_birth, { order: [:month, :day, :year], start_year: Date.current.year - 80, end_year: Date.current.year }, class: 'form-control date-select', required: true
.row
  .col-md-6
    .form-group
      = f.label :address, "Home Address"
      = f.text_field :address, class: 'form-control', required: true
%br

.row
  .col-md-12
    %h3 Foster Preferences
.row
  .col-md-6
    .form-group
      = f.label :fostered_before, "Have you fostered before?"
      = f.select :fostered_before, options_for_select([['yes', true], ['no', false]], @user.fostered_before.nil? ? nil : @user.fostered_before?), { include_blank: true }, { class: 'form-control', required: true }
.row
  .col-md-6
    .form-group
      = f.label :fostered_for, "If so, which organizations have you previously fostered with?"
      - Organization.all.each do |organization|
        .form-check-label
          = f.check_box :fostered_for, { multiple: true, class: 'form-check-input' }, organization, nil
          = organization
.row
  .col-md-6
    .form-group
      = f.label :fospice, "Are you interested in participating in our Fospice program?"
      %p
        If you are interested in being a "Forever Foster" caretaker for our "Fospice" program for dogs in their end-of-life months, check the box below. Learn more about the program
        %span= link_to 'here', 'http://fosterdogsnyc.com/fospice/', target: :_blank
      = f.select :fospice, options_for_select([['yes', true], ['no', false]], @user.fospice.nil? ? nil : @user.fospice?), { include_blank: true }, { class: 'form-control', required: true }
.row
  .col-md-6
    .form-group
      = f.label :other_pets, "Do you own any other pets?"
      = f.select :other_pets, options_for_select([['yes', true], ['no', false]], @user.other_pets.nil? ? nil : @user.other_pets?), { include_blank: true }, { class: 'form-control', required: true }
.row
  .col-md-6
    .form-group
      = f.label :kids, "Are you in a household with young children?"
      %p Some dogs should not live with young children due to size/training/personality
      = f.select :kids, options_for_select([['yes', true], ['no', false]], @user.kids.nil? ? nil : @user.kids?), { include_blank: true }, { class: 'form-control', required: true }
.row
  .col-md-6
    .form-group
      = f.label :size_preferences, "What size dog are you open to fostering?"
      - User::SIZE_PREFERENCES.each do |preference, description|
        .form-check-label
          = f.check_box :size_preferences, { multiple: true, class: 'form-check-input', checked: @user.has_preference?(:size_preference, preference) }, preference, nil
          = "#{preference} (#{description})"
.row
  .col-md-6
    .form-group
      = f.label "What experience do you have with dogs?"
      - User::EXPERIENCE.each do |experience|
        .form-check-label
          = f.check_box :experience, { multiple: true, class: 'form-check-input', checked: @user.has_preference?(:experience, experience) }, experience, nil
          = experience
.row
  .col-md-6
    .form-group
      = f.label :schedule, "How often are you out of the house?"
      %p On average, how long would the dog be alone during the workweek? Note: If you are away for more than 8 hours a day you should consider hiring a dog walker or have someone check in on the dog. Some rescue organizations offer discounted dog walks.
      - User::SCHEDULE.each do |schedule|
        .form-check-label
          = f.check_box :schedule, { multiple: true, class: 'form-check-input', checked: @user.has_preference?(:schedule, schedule) }, schedule, nil
          = schedule
.row
  .col-md-6
    .form-group
      = f.label :activity_preferences, "How active do you prefer your foster to be?"
      - User::ACTIVITY_PREFERENCES.each do |activity|
        .form-check-label
          = f.check_box :activity_preferences, { multiple: true, class: 'form-check-input', checked: @user.has_preference?(:activity_preference, activity) }, activity, nil
          = activity
.row
  .col-md-6
    .form-group
      = f.label :activity_preferences, "Are you interested in fostering big dogs?"
      = f.select :big_dogs, options_for_select([['yes', true], ['no', false]], @user.big_dogs.nil? ? nil : @user.big_dogs?), { include_blank: true }, { class: 'form-control', required: true }
.row
  .col-md-6
    .form-group
      = f.label :fosters_cats, "Are you also interested in fostering cats?"
      = f.select :fosters_cats, options_for_select([['yes', true], ['no', false]], @user.fosters_cats.nil? ? nil : @user.fosters_cats?), { include_blank: true }, { class: 'form-control', required: true }
