.row
  .col-md-12
    %h2
      Log an Email Outreach
= form_tag(admin_email_logs_path, method: :post) do
  .row
    .col-md-6
      .form_group
        %h4= "Marking #{ users_to_printed_list(@users) } as contacted."
        - @users.each do |user|
          = hidden_field_tag 'user_ids[]', user.id
      .form-group
        = label_tag 'Subject Line'
        = text_field_tag 'subject', nil, placeholder: 'Enter your subject here...', class: 'form-control', required: true
      .form-group
        = label_tag 'Rescue'
        = select_tag 'organization', options_for_select(Organization.all), class: 'form-control', required: true
      = submit_tag 'Log It!', class: 'btn btn-primary'
