.row
  .col-md-12
    %h2
      Log an Email Outreach
.row
  .col-md-6
    %h5= "Marking #{ @users.count } fosters as contacted."
    %p= users_to_printed_list(@users)
    = form_tag(fosters_admin_email_logs_path, format: 'csv') do
      - @users.each do |user|
        = hidden_field_tag 'user_ids[]', user.id
      = submit_tag "Download CSV for Mailchimp import", class: 'btn btn-success'
    %br

    = form_tag(admin_email_logs_path, method: :post) do
      - @users.each do |user|
        = hidden_field_tag 'user_ids[]', user.id
      .form-group
        = label_tag 'Subject Line'
        = text_field_tag 'subject', nil, placeholder: 'Enter your subject here...', class: 'form-control', required: true
      .form-group
        = label_tag 'Rescue'
        = select_tag 'organization', options_for_select(Organization.all), class: 'form-control', required: true
      = submit_tag 'Log It!', class: 'btn btn-primary'
