= organization_template(slug: @organization.slug, type: 'headers')
= form_tag survey_responses_path do
  = hidden_field_tag 'survey_uuid', @survey.uuid
  = hidden_field_tag 'organization_slug', @organization.slug
  .fr-form
    = render partial: 'shared/basic_user_info'
    .row
      .col-md-12
        %h3 Foster Preferences
    - @survey.questions.ordered_for_survey.each do |q|
      = render partial: "shared/question", locals: { question: q, filter: false }
    = organization_template(slug: @organization.slug, type: 'terms')
    .row
      .col-md-12
        .form-group
          = submit_tag 'SUBMIT', { class: 'btn btn-primary' }
