.row
  .col-md-2
    %h5 Signups Past 24 Hours
    %p= User.where("created_at >= ? AND created_at <= ?", DateTime.current - 1.day, DateTime.current).count
  .col-md-2
    %h5 Signups Past 7 Days
    %p= User.where("created_at >= ? AND created_at <= ?", DateTime.current - 7.days, DateTime.current).count
  .col-md-2
    %h5 Outreaches Past 24 Hours
    %p= OutreachesUser.joins(:outreach).where("outreaches.created_at >= ? AND outreaches.created_at <= ?", DateTime.current - 1.days, DateTime.current).count
  .col-md-2
    %h5 Outreaches Past 7 days
    %p= OutreachesUser.joins(:outreach).where("outreaches.created_at >= ? AND outreaches.created_at <= ?", DateTime.current - 7.days, DateTime.current).count
  .col-md-2
    %h5 Total Signups
    %p= User.count
  .col-md-2
    %h5 Total Outreaches
    %p= EmailLog.count
- if @active_filters.present? || @search_term.present?
  .row
    .col-md-12
      .active-filters
        - if @active_filters.present?
          %h5 Active Filters
          - @active_filters.each do |k, v|
            %strong= "#{k.titleize}:"
            - if v.is_a?(String)
              = v
            - elsif v.is_a?(Array)
              = v.join(', ')
        - elsif @search_term.present?
          %h5= "Searching for #{@search_term}"
= form_tag(contact_admin_email_logs_path, method: :post) do
  - @all_users.each do |user|
    = hidden_field_tag 'user_ids[]', user.id
  = submit_tag 'CONTACT ALL', class: 'btn btn-danger pull-right btn--ui', id: 'contact-button'

= form_tag(new_admin_email_log_path, method: :get) do
  = submit_tag 'CONTACT', class: 'btn btn-primary pull-right btn--ui', id: 'contact-button'
  %div
    %table.table.table-bordered.table-hover.users-table
      %thead
        %th
        %th Applied On
        %th Name
        %th Experience
        %th Schedule
        %th Size Preferences
        %th Has Other Pets
        %th Most Recent Contacts
      - @users.each do |user|
        %tr
          %td= check_box_tag 'user_ids[]', user.id
          %td= user.created_at.stamp("May 20, 1989")
          %td= link_to user.name, admin_user_path(user)
          %td= list_to_link(:experience, user.experience_list)
          %td= list_to_link(:schedule, user.schedule_list)
          %td= list_to_link(:size_preferences, user.size_preference_list)
          %td= bool_to_affirmative(user.other_pets)
          %td
            - user.outreaches.order("created_at DESC").last(5).each do |outreach|
              %div
                %strong= outreach.subject
                = "on behalf of #{ outreach.organization.name } on #{ outreach.created_at.stamp("May 20, 1989") }"
= paginate @users if @paginate
