.row
  .col-md-2
    %h5 Signups Past 24 Hours
    %p= SurveyResponse.where("created_at >= ? AND created_at <= ?", DateTime.current - 1.day, DateTime.current).count
  .col-md-2
    %h5 Signups Past 7 Days
    %p= SurveyResponse.where("created_at >= ? AND created_at <= ?", DateTime.current - 7.days, DateTime.current).count
  .col-md-2
    %h5 Outreaches Past 24 Hours
    %p= OutreachesUser.joins(:outreach).where("outreaches.created_at >= ? AND outreaches.created_at <= ?", DateTime.current - 1.days, DateTime.current).count
  .col-md-2
    %h5 Outreaches Past 7 days
    %p= OutreachesUser.joins(:outreach).where("outreaches.created_at >= ? AND outreaches.created_at <= ?", DateTime.current - 7.days, DateTime.current).count
  .col-md-2
    %h5 Total Signups
    %p= User.count
  .col-md-2
    %h5 Total Outreaches
    %p= OutreachesUser.count
- if @active_filters.present? || @search_term.present?
  .row
    .col-md-12
      .active-filters
        - if @active_filters.present?
          %h5 Active Filters
          - @active_filters.each do |k, v|
            %strong= "#{k.titleize}:"
            - if v.is_a?(String)
              = v
            - elsif v.is_a?(Array)
              = v.join(', ')
        - elsif @search_term.present?
          %h5= "Searching for #{@search_term}"
= form_tag(build_admin_outreaches_path, method: :post) do
  - @all_users.each do |user|
    = hidden_field_tag 'user_ids[]', user.id
  = submit_tag 'CONTACT ALL', class: 'btn btn-danger pull-right btn--ui', id: 'contact-button'

= form_tag(build_admin_outreaches_path, method: :post) do
  = submit_tag 'CONTACT', class: 'btn btn-primary pull-right btn--ui', id: 'contact-button'
  %div
    %table.table.table-bordered.table-hover.users-table
      %thead
        %th
        %th Name
        - @organization.survey.questions.displayable.each do |question|
          %th= question.slug.to_s.humanize.capitalize
        %th Outreach History (Most Recent)
      - @users.each do |user|
        %tr
          %td= check_box_tag 'user_ids[]', user.id
          %td= link_to user.name, admin_user_path(user)
          - @organization.survey.questions.displayable.each do |question|
            %td= value_to_human_readable(user.survey_responses.select {|sr| sr.organization == @organization }.first.response[question.slug.to_s])
          %td
            - user.outreaches.sort { |x, y| x.created_at <=> y.created_at }.last(5).each do |outreach|
              %div
                %strong
                  = link_to outreach.subject, admin_outreach_path(outreach.id)
                - if outreach.organization.present?
                  = "on behalf of"
                  = link_to outreach.organization.name, admin_path(outreach.organization)
                = "on #{ outreach.created_at.stamp("May 20, 1989") }"

= paginate @users if @paginate
