.row
  .col-md-6
    %h1= @user.name
    %h4= @user.active? ? "Subscribed" : "Unsubscribed"
.row
  .col-md-6
    %div
      %h3 Basic Info
      %div
        %span.info__label Email:
        %span.info__text= mail_to @user.email
      %div
        %span.info__label Birthday:
        %span.info__text= @user.date_of_birth.stamp("May 2, 1989") if @user.date_of_birth
      %div
        %span.info__label Submitted Application At:
        %span.info__text= @user.created_at.stamp("May 20, 1989")
      %div
        %span.info__label Home Address:
        %span.info__text= @user.address
      %div
        %span.info__label Lat/Long:
        %span.info__text= "#{@user.latitude}/#{@user.longitude}"
      %div
        %span.info__label Accepted Terms and Conditions:
        %span.info__text= value_to_human_readable(@user.accepted_terms_at.present?)
    %div
      %h3 Survey Response
      - @survey.questions.each do |q|
        %div
          %span.info__label= q.question_text
          %span.info__text= value_to_human_readable(@survey_response.response[q.slug.to_s])
  .col-md-6
    %div
      %h3 Outreaches
      %table.table.table-bordered.table-hover
        %thead
          %th Subject
          %th Date Contacted
          %th On Behalf Of
          %th Actions
        - @user.outreaches.order("created_at DESC").each do |outreach|
          %tr
            %td= link_to outreach.subject, admin_outreach_path(outreach)
            %td= outreach.created_at.stamp('May 20, 1989')
            %td= outreach.organization.present? ? link_to(outreach.organization.name, admin_path(outreach.organization)) : ''
            %td= link_to "remove", admin_user_outreach_path(user_id: @user.id, id: outreach.id), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you absolutely sure?' }
    %div
      %h3 Admin Notes
      %table.table.table-bordered.table-hover
        %thead
          %th Note
          %th Author
          %th Date
        - @user.notes.order("created_at DESC").each do |note|
          %tr
            %td= note.note
            %td= note.author
            %td= note.created_at.stamp('May 20, 1989')

      = form_for [:admin, @user, @note] do |f|
        %div.form-group
          = f.label 'Note:'
          = f.text_area :note, class: 'form-control', required: true
        %div.form-group
          = f.label 'Author'
          = f.text_field :author, class: 'form-control', required: true
        %div
          = f.submit 'Submit'
