<!DOCTYPE html>
<html>
  <head>
    <title>Foster Roster</title>
    <%= favicon_link_tag asset_path('favicon.jpg'), rel: 'icon', type: 'image/jpg' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Foster Roster', admin_users_path, class: 'navbar-brand' %>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Apply Filters', filters_admin_users_path %></li>
          <li><%= link_to 'Users', admin_users_path %></li>
          <li><%= link_to 'Outreaches', admin_outreaches_path %></li>
          <li><%= link_to 'Download Entire Roster', download_csv_admin_users_path, method: :post %></li>
        </ul>
        <%= form_tag search_admin_users_path, method: :get, class: 'navbar-form navbar-left' do %>
          <div class="form-group">
            <%= text_field_tag 'user_search', nil, class: 'form-control', placeholder: 'Search' %>
          </div>
          <%= submit_tag 'Submit', class: 'btn btn-default' %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Signed in as <%= current_user.name %></a></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, data: { confirm: 'Are you sure?' }, method: :delete %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%- if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>
      <%- if flash[:alert] %>
        <div class="alert alert-warning"><%= flash[:alert] %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
